.edit-form__info-input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  outline: none;
  margin: 0 0 30px 0;
  padding: 0;
  padding-bottom: 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
}

.edit-form__info-input:last-child {
  margin: 0;
}

.edit-form__info-input:focus {
  outline: none;
}
