.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin: 0;
  padding: 0 200px 50px 200px;
}

@media screen and (max-width: 1135px) {
  .profile {
    padding: 0 45px 36px 45px;
  }
}

@media screen and (max-width: 825px) {
  .profile {
    padding: 0 19px 36px 19px;
    flex-direction: column;
  }
}
