.card__delete-button {
  background-image: url('../../../images/delete-button.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: none;
  padding: 0;
  opacity: 1;
  transition: opacity 0.3s linear;
  min-width: 18px;
  height: 20px;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__delete-button:focus {
  outline: none;
}
.card__delete-button:hover {
  opacity: .6;
}
