@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/inter.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/page/__auth/page__auth.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__info-block/header__info-block.css);
@import url(./blocks/header/__universal-button/header__universal-button.css);
@import url(./blocks/header/__user-email/header__user-email.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__person/profile__person.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__overlay/profile__overlay.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name-container/profile__name-container.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__new-photo-button/profile__new-photo-button.css);
@import url(./blocks/content-gallery/content-gallery.css);
@import url(./blocks/content-gallery/__cards/content-gallery__cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__info/card__info.css);
@import url(./blocks/card/__descriotion/card__description.css);
@import url(./blocks/card/__like-container/card__like-container.css);
@import url(./blocks/card/__like-counter/card__like-counter.css);
@import url(./blocks/card/__like-button/card__like-button.css);
@import url(./blocks/card/__delete-button/card__delete-button.css);
@import url(./blocks/card/__photo/card__photo.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_status/popup_status_active.css);
@import url(./blocks/edit-form/edit-form.css);
@import url(./blocks/edit-form/_status/edit-form_status_active.css);
@import url(./blocks/edit-form/__form-container/edit-form__form-container.css);
@import url(./blocks/edit-form/__close-button/edit-form__close-button.css);
@import url(./blocks/edit-form/__form-description/edit-form__form-description.css);
@import url(./blocks/edit-form/__info-input/edit-form__info-input.css);
@import url(./blocks/edit-form/__submit-button/edit-form__submit-button.css);
@import url(./blocks/edit-form/__error-text/edit-form__error-text.css);
@import url(./blocks/image-popup/image-popup.css);
@import url(./blocks/image-popup/__container/image-popup__container.css);
@import url(./blocks/image-popup/__close-button/image-popup__close-button.css);
@import url(./blocks/image-popup/__description/image-popup__description.css);
@import url(./blocks/image-popup/__picture/image-popup__picture.css);
@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__header/auth__header.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__button/auth__button.css);
@import url(./blocks/auth/__answer-text/auth__answer-text.css);
@import url(./blocks/auth/__link/auth__link.css);
@import url(./blocks/info-tool-tip-popup/info-tool-tip-popup.css);
@import url(./blocks/info-tool-tip-popup/__close-button/info-tool-tip-popup__close-button.css);
@import url(./blocks/info-tool-tip-popup/__container/info-tool-tip-popup__container.css);
@import url(./blocks/info-tool-tip-popup/__description/info-tool-tip-popup__description.css);
@import url(./blocks/info-tool-tip-popup/__picture/info-tool-tip-popup__picture.css);
@import url(./blocks/card/__like-button/_status/card__like-button_status_active.css);
@import url(./blocks/card/__delete-button/_type/card__delete-button_type_invisible.css);
@import url(./blocks/image-popup/_status/image-popup_status_active.css);
@import url(./blocks/edit-form/__info-input/_error/edit-form__info-input_error.css);
@import url(./blocks/edit-form/__error-text/_active/edit-form__error-text_active.css);
@import url(./blocks/edit-form/__submit-button/_disabled/edit-form__submit-button_disabled.css);
@import url(./blocks/edit-form/__form-description/_type/edit-form__form-description_type_delete.css);
@import url(./blocks/edit-form/__submit-button/_type/edit-form__submit-button_type_delete.css);
@import url(./blocks/header/__universal-button/_color/header__universal-button_color_grey.css);
