.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 45px 0 41px 0;
  border-bottom: 1px solid rgba(84,84,84,0.7);
  min-width: 320px;
  color: #FFFFFF;
}

@media screen and (max-width: 1135px) {
  .header {
    padding: 28px 0 42px 0;
  }
}

.header__info-block {
  display: flex;
  justify-items: center;
  justify-content: space-between;
}

.header__user-email {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: right;
  margin: 0 24px 0 0;
}

.header__universal-button {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: right;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  padding: 0;
  transition: opacity 0.3s linear;
}

.header__universal-button:focus {
  border: 0;
}

.header__universal-button:hover {
  opacity: .6;
}

.header__universal-button_color_grey {
  color: #A9A9A9;
}

.auth {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.page__auth {
  margin: 60px 461px 112px 461px;
}

.auth__header {
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 0 50px 0;
  padding: 0;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth__input {
  width: 358px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 0 0 13px 0;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  margin: 0 0 30px 0;
  background-color: black;
}

.auth__input:last-child {
  margin: 0;
}

.auth__input:focus {
  outline: none;
}

.auth__button {
  width: 358px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  border: none;
  transition: opacity .3s linear;
  padding: 14px 0 14px 0;
  margin: 216px 0 0 0;
}

.auth__button:focus {
  border: none;
}

.auth__button:hover {
  opacity: .6;
}

.auth__answer-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin: 15px 0 0 0;
}

.auth__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity .3s linear;
}

.auth__link:hover {
  opacity: .6;
}

.info-tool-tip-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
}

.info-tool-tip-popup__container {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 430px;
  min-width: 282px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  box-sizing: border-box;
}

.info-tool-tip-popup__picture {
  width: 120px;
  height: 120px;
  margin: 60px 155px 32px 155px;

}

.info-tool-tip-popup__description {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin: 0px 36px 60px 36px;
  padding: 0;
}

.info-tool-tip-popup__close-button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url('../../images/close-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -37px;
  right: -40px;
  border: none;
  padding: 0;
  opacity: 1;
  transition: opacity .3s linear;
}

.info-tool-tip-popup__close-button:hover {
  opacity: .6;
}

.info-tool-tip-popup__close-button:focus {
  outline: none;
}
