.profile__new-photo-button {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  background-color: transparent;
  background-image: url('../../../images/add-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 1;
  transition: opacity .3s linear;
}

.profile__new-photo-button:hover {
  opacity: .6;
}

@media screen and (max-width: 825px) {
  .profile__new-photo-button {
    width: 282px;
    height: 50px;
  }
}

@media screen and (max-width: 600px) {
  .profile__new-photo-button {
    background-image: url('../../../images/add-button-mobile.svg');
  }
}
